* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid {
    background-color: aqua;
    height: 100vh;
    width: 100%;
    padding: 5px;

}

.grid .col {
    float: left;
    height: 25vh;
    /* width: 25%; */
    background-color: brown;
    padding: 5px;
    margin: 5px;
}

@media all and (max-width: 320px) {
    .grid .col {
        width: 100%;
        background-color: chocolate;
    }

    .grid{
        padding: 15px;
    }
}

@media all and (min-width:321px ) and (max-width: 768px) {
    .grid .col {
        width: 55%;
        background-color: yellowgreen;
    }

    .grid{
        padding: 15px;
        
    }
}
@media all and (min-width:769px ) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
        background-color: green;
    }

    .grid{
        padding: 15px;
        
    }
}
@media all and (min-width: 1201px ) {
    .grid .col {
        width: 25%;
        background-color: black;
    }

    .grid{
        padding: 15px;
        
    }
}

